
		<h1>Welcome#index</h1>
		<p>Find me in app/views/welcome/index.html.erb</p>
		<hello-world></hello-world>
		<hello-world greet="bob"></hello-world>
		<hello-world greet="bob"></hello-world>
		<hello-world ></hello-world>
		<hello-form></hello-form>
		<script>
		// good to set default values
			riot.mount('hello-world',{greet:"joe"})
			riot.mount('hello-form')
		</script>
